*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:'Poppins',sans-serif;

background:#f5f7fa;

color:#222;

}



.container{

width:90%;

max-width:1200px;

margin:auto;

}




.topo{

height:80px;

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 5%;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.logo{

font-size:28px;

font-weight:700;

color:#0b5ed7;

}



.logo i{

margin-right:10px;

}



nav a{

margin-left:25px;

text-decoration:none;

color:#333;

font-weight:500;

}





.titulo{

background:linear-gradient(120deg,#0b5ed7,#3d8bfd);

padding:50px 0;

color:white;

}



.titulo h1{

font-size:42px;

}





.carrinho{

padding:50px 0;

}



.carrinho .container{

display:grid;

grid-template-columns:1fr 380px;

gap:30px;

}





.lista,
.resumo{

background:white;

border-radius:20px;

padding:25px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}




.produto{

display:flex;

align-items:center;

gap:20px;

padding:20px 0;

border-bottom:1px solid #eee;

}



.produto img{

width:120px;

height:120px;

object-fit:contain;

}



.info{

flex:1;

}



.info span{

color:#777;

font-size:14px;

}



.info strong{

display:block;

font-size:24px;

color:#0b5ed7;

margin:10px 0;

}





.quantidade{

display:flex;

gap:10px;

}



.quantidade button{

width:35px;

height:35px;

border:none;

background:#0b5ed7;

color:white;

border-radius:8px;

cursor:pointer;

}



.quantidade input{

width:50px;

text-align:center;

border:1px solid #ddd;

border-radius:8px;

}




.remover{

border:none;

background:none;

color:#e60000;

font-size:20px;

cursor:pointer;

}




.linha{

display:flex;

justify-content:space-between;

margin:20px 0;

}



.cupom{

display:flex;

gap:10px;

margin:25px 0;

}



.cupom input{

flex:1;

padding:12px;

border:1px solid #ddd;

border-radius:10px;

}



.cupom button{

background:#0b5ed7;

color:white;

border:none;

padding:12px;

border-radius:10px;

}



.total{

border-top:1px solid #eee;

padding-top:20px;

}



.finalizar{

margin-top:25px;

width:100%;

padding:16px;

border:none;

border-radius:12px;

background:#0b5ed7;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

}




footer{

background:#111;

color:white;

text-align:center;

padding:30px;

}





@media(max-width:900px){

.carrinho .container{

grid-template-columns:1fr;

}

}