/*colocando cor de fundo no cabeçalho*/
header {
    background-color: #006BCC;
    font-family: montserrat, sans-serif; /*fonte do cabeçalho*/
    color: #ffffff; /*cor do texto do cabeçalho*/
}
nav a{
    color: #ffffff; /*cor dos links do menu*/
    text-decoration: none; /*removendo sublinhado dos links*/
    margin: 0 10px; /*espaçamento entre os links*/
    text-align: center; /*alinhando o texto dos links ao centro*/
}
nav{
text-align: center; /*alinhamento do texto dos links */
border-color: #ffffff; /*cor da borda do menu de navegação*/
border-width: 2px; /*largura da borda do menu de navegação*/
border-style: solid; /*estilo da borda do menu de navegação*/
padding: 10px; /*distância entre as bordas do menu de navegação */
}

.logo img {
    width: 200px; /*tamanho da imagem do logo*/
    height: 200px/*manter proporção da imagem do logo*/
}

/*configurando a caixa de pesquisa*/
.caixa-pesquisa input {
    padding: 5px; /*distância entre as bordas do campo de pesquisa*/
    border: 1px solid #ccc; /*adicionando borda da campo de pesquisa*/
    border-radius: 5px; /*arredondamento das bordas do campo de pesquisa*/
    font-family: montserrat, sans-serif; /*fonte da campo de pesquisa*/
    width: 400px; /*largura da campo de pesquisa*/
    height: 30px; /*altura da campo de pesquisa*/
    padding-left: 50px; 
   
}

/*configurando a div da pesquisa*/
.caixa-pesquisa {
    display: flex;/*exine oos elementos em linha*/
    justify-content: center; /*alinhamento horizontal dos elementos*/
    margin-top: 20px; /*margem superiorda caixa de pesquisa*/
    margin-bottom: 20px; /*margem inferior da caixa de pesquisa*/ 
    position: relative; /*posição relativa para posicionar o ícone de pesquisa*/
    
}

/*alinhar as divs do cabeçalho*/
.topo {
    display: flex; /*exibe os elementos em linha*/
    align-items: center; /*alinhamento vertical dos elementos*/
    justify-content: space-between; /*alinhamento horizontal dos elementos do cabeçalho*/
    /*distribuição dos elementos com espaço entre eles*/

}

/*configurando os icones*/
.caixa-pesquisa img{
    width: 20px; /*tamanho do ícone de pesquisa*/
    height: 20px; /*manter proporção do ícone de pesquisa*/
    position: absolute; /*posição absoluta para posicionar o ícone de pesquisa*/
    left: 10px; /*distância do ícone de pesquisa para a esquerda */
    top: 50%; /*alinhamento vertical do ícone de pesquisa*/
 transform: translateY(-50%); /*centralizando o ícone de pesquisa verticalmente*/
}
.caixa-pesquisa placeholder{
    padding-left: 30px;
    /*distancia entre o texto do placeholder e o icone de pesquisa*/
}

.icones a img{  
    height: 35px; /*altura dos ícones de redes sociais*/
    width: 35px; /*largura dos ícones de redes sociais*/
    margin-right: 20px;
}

/*configurando o texto dos icones de usuario e carrinho*/
.icones a small{
    font-size: 10px; /*tamanho da fonte do texto grande */
    display: block; /*exibe o texto em uma nova linha*/
    color: #ffffff; /*cor do texto grande*/
}
.icones a p{
    font-size: 12px; /*tamanho da fonte do texto pequeno*/
    display: block; /*exibe o texto em uma nova linha*/
    color: #ffffff; /*cor do texto pequeno*/
}
.icones a{
    text-decoration: none; /*removendo sublinhado dos links*/
}
/*configurando a div icones*/
.icones {
    display: flex; /*exibe os elementos em linha*/
    align-items: center; /*alinhamento vertical dos elementos*/
    gap: 30px;/*distancia entre os elementos */
    
}

/*configurando a área do banner*/
.imagens-banner img{
    display:block; /*exibe a imagem como bloco para remover espações em volta da imagem*/
    width: 100%; /*Largura do banner */
    height: auto; /*altura do banner */
    /*ajusta a imagem para cobrir todo espaço do banner sem distorcer a imagem*/
}
.banner {
    width: 100vw; /*Largura do banner */
    height: auto; /*altura do banner */
    margin: 0; /*remove a margem padrão do banner*/
    padding: 0; /*remove o padding padrão do banner*/
}
.imagens-banner {
    width: 100%; /*Largura da div do banner */
    position: relative; /*posição relativa para posicionar os botões do banner*/
}

/*
.botoes-banner {
    position: absolute; 
   top: 70%; 
    left: 20%; 
}
.btn-comprar{
    background-color: #006BCC; 
    color: #ffffff; 
    border-radius: 5px;
    font-family: montserrat, sans-serif; 
    padding: 5px 10px; 

}

.btn-comprar:hover{
    background-color: #0056a3; 
    color: #ffffff; 
} 
.bnt-anterior, .btn-proximo{
    background-color: #ffffff; 
    color: #006BCC;
    border-radius: 10px; 
    font-family: montserrat, sans-serif; 
    border: none; 
    padding: 5px 20px;
}
.btn-anterior:hover, .btn-proximo:hover{
    background-color: #006BCC; 
    color: #ffffff; 
    
}
*/

.btn-comprar{
    position: absolute;
    top: 70%;       
    left: 20%;
    background-color: #006BCC;
    color: #ffffff;
    border-radius: 10px;
    font-family: montserrat, sans-serif;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
}
.btn-anterior{
    position: absolute;
    top: 50%;
    left: 2%;
    background-color: transparent;
    color: #006BCC;
    border-radius: 50%;
    font-family: montserrat, sans-serif;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
}

.btn-proximo{
    position: absolute;
    top: 38%;
    left: 94%;
    background-color: transparent;
    color: #006BCC;
    border-radius: 50%;
    padding: 12px;
    border: none;
}

.btn-comprar:hover{
    background-color: #006BCC;
    color: #ffffff;
}/*configurações do rodapé*/

footer{ 
    background-color: #006BCC;/*cor de fundo*/
    color: #ffffff;/*todos os textos na cor branca*/
    font-family: poppins,sans-serif;/*tipo de fonte*/
    padding: 10px;/*espaçamentos dentro do rodapé*/
}

.superior{
    display: flex;/*permitir flexibilidade entre as colunas
    gap:10px;/*espaçamento entre as divs*/
    justify-content: space-between;
    /*definir um tamanho igual entre as divs*/
    /flex-wrap: wrap;
    /*jogar  os textos para outra linha caso não possa caber na div /*
}
