*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:'Poppins',sans-serif;

background:#f5f7fa;

color:#222;

}




.topo{

height:80px;

background:#fff;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 8%;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.logo img{

width:180px;

}



nav{

display:flex;

gap:25px;

}



nav a{

text-decoration:none;

color:#333;

font-weight:500;

}



nav a:hover{

color:#0b5ed7;

}






.banner{

background:linear-gradient(120deg,#0b5ed7,#3d8bfd);

padding:55px 8%;

color:white;

}



.banner h1{

font-size:42px;

}



.banner p{

font-size:18px;

margin-top:10px;

}







.container{

width:90%;

max-width:1200px;

margin:auto;

}




.pedidos{

padding:50px 0;

}



.container h2{

color:#0b5ed7;

margin-bottom:30px;

}







.pedido-card{

background:white;

border-radius:20px;

padding:25px;

display:grid;

grid-template-columns:130px 1fr auto;

gap:25px;

align-items:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}




.pedido-card img{

width:130px;

height:130px;

object-fit:contain;

}



.info h3{

font-size:20px;

margin-bottom:12px;

}



.info p{

color:#777;

margin-bottom:8px;

}




.status{

display:inline-block;

background:#198754;

color:white;

padding:8px 15px;

border-radius:20px;

font-size:13px;

}





.valor{

text-align:right;

}



.valor strong{

display:block;

font-size:25px;

color:#0b5ed7;

margin-bottom:20px;

}





.btn-detalhes{

background:#0b5ed7;

color:white;

padding:12px 20px;

border-radius:12px;

text-decoration:none;

font-weight:600;

}



.btn-detalhes:hover{

background:#084298;

}





.sem-pedido{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

}



.sem-pedido i{

font-size:60px;

color:#0b5ed7;

margin-bottom:20px;

}




footer{

background:#111;

color:white;

text-align:center;

padding:30px;

}






@media(max-width:800px){


.pedido-card{

grid-template-columns:1fr;

text-align:center;

}



.valor{

text-align:center;

}



nav{

display:none;

}


}