*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* HEADER */

.header{
    background:#1f5ec7;
    padding:12px 20px;
}

.header-top{
    max-width:1400px;
    margin:auto;

    display:flex;
    align-items:center;
    gap:20px;
}

.logo img{
    height:55px;
}

.menu-btn,
.icon-btn{
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    font-size:22px;
}

.search-box{
    flex:1;

    display:flex;
    align-items:center;
    background:white;

    border-radius:30px;
    overflow:hidden;
}

.search-box input{
    width:100%;
    border:none;
    padding:12px 16px;
    outline:none;
}

.search-box button{
    border:none;
    background:white;
    width:50px;
    cursor:pointer;
}

.header-actions{
    display:flex;
    align-items:center;
    gap:15px;
}

.icon-btn span{
    margin-left:5px;
    font-size:14px;
}
/* ==========================
   FOOTER
========================== */

.footer{
    background:#08111f;
    color:#fff;
    margin-top:60px;
}

.footer-container{
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(250px,1fr));

    gap:40px;

    padding:50px 20px;
}

.footer-column h3{
    margin-bottom:20px;
    font-size:18px;
}

.footer-column p{
    color:#c7c7c7;
    line-height:1.7;
}

.footer-column ul{
    list-style:none;
}

.footer-column ul li{
    margin-bottom:12px;
    color:#c7c7c7;
}

.footer-column ul li a{
    text-decoration:none;
    color:#c7c7c7;
    transition:.3s;
}

.footer-column ul li a:hover{
    color:#fff;
}

.footer-column i{
    margin-right:8px;
}

.social-links{
    display:flex;
    gap:15px;
}

.social-links a{
    width:45px;
    height:45px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#1f5ec7;

    border-radius:50%;

    color:white;

    text-decoration:none;

    transition:.3s;
}

.social-links a:hover{
    transform:translateY(-4px);
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.1);

    text-align:center;

    padding:20px;
}

.footer-bottom p{
    color:#b8b8b8;
    font-size:14px;
}

/* RESPONSIVO */

@media(max-width:768px){

    .footer-container{
        gap:30px;
    }

    .footer-column{
        text-align:center;
    }

    .social-links{
        justify-content:center;
    }

}




/* Galeria */

.area-detalhes {

    max-width: 1200px;
    /*tamanho maximo da alargura da area*/
    margin: 50px auto;
    /*margem de espaçamento, distanciar as imagens da borda da tela*/
    padding: 20px;
    /*serve para separar os elementos de perto das bordas da div*/
    display: flex;
    /*permitir que as imagens fiquem uma embaixo da outra ou uma do lado da outra*/
    gap: 50px
    /*e a distancia entre uma imagem a outra*/

}

.area-imagens {
    display:flex;
    gap : 20px;
    /*e a distancia as tags dentro da div*/
}

.img-lateral {
    display: flex;
    flex-direction: column;
    /*deixa as imagens uma embaixo da outra*/
    gap: 15px;
    /*e a distância entre uma minatura e outra*/
}

.img-lateral {
    width: 70px;/*largura da área laterais*/
    height: 90px;/*largura da área lateral*/
    object-fit: cover;/*redimenciona a imagem para caber na área*/
    border: 2px solid transparent;/*bordas ao redor da área*/
    border-radius: 10px;/*arredondar as bordas*/
    cursor: pointer;/*alterar o curso para a mão*/
    transition: 0.3s;/*colocar efeito de transição*/

}

.img-lateral:hover {
   border-color:#1f5ec7;
   /*adicionar borda ao passar o mouse pela imagem*/ 
}

.img-principal img {
    width: 420px;
    /*tamanho da imagem principal*/
    border-radius: 15px;
    /*arredondar a imagem principal*/
    box-shadow: 0 5px 15px rgba(0, 0, 0,  .1);
    /*adicionar sombra à imagem principal*/
}
